/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Montserrat';
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
  font-weight: 300;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.navigation {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  top: 51px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .navigation {
    position: absolute;
  }
}
.navigation .navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 23px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 81, 136, 0.95);
}
.navigation ul.navigation__list--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
  }
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 114px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
.navigation a {
  color: #FFF;
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .navigation a {
    padding: 5px 10px;
  }
}
@media (min-width: 1200px) {
  .navigation a {
    padding: 5px 20px;
  }
}
.user-photo {
  overflow: hidden;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .user-photo {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .user-photo {
    width: 320px;
    margin-bottom: 70px;
  }
}
.user-photo--big {
  max-width: 100%;
  height: auto;
  border-radius: 110px;
  background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
}
@media (min-width: 1200px) {
  .user-photo--big {
    width: 205px;
    height: 205px;
  }
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  a.mouse_scroll {
    bottom: 1rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section--padding-smaller {
  padding-top: 30px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 65px;
    padding-bottom: 50px;
  }
}
.section--padding-contacts {
  padding-top: 48px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .section--padding-contacts {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--padding-contacts {
    padding-top: 66px;
    padding-bottom: 52px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url("../img/bg/laptop.png");
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url("../img/bg/gear.png");
  }
}
.heading {
  color: #0052c2;
  font-weight: 700;
  font-size: 25px;
  margin: 0 0 9px;
  text-transform: uppercase;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .heading {
    font-size: 30px;
    margin: 0 0 19px;
  }
}
.heading--medium {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 15px;
  font-weight: 600;
}
.heading--medium--white {
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}
.heading--center {
  text-align: center;
}
.heading--white {
  color: #FFF;
}
.heading--contact-form {
  margin-top: 11px;
}
.definition-list {
  margin: 0 0 43px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .definition-list {
    padding-right: 20px;
  }
}
.definition-list--social-icons {
  margin-bottom: 0;
}
.definition-list__item {
  margin: 0 0 13px;
  padding: 0;
}
.definition-list__item span {
  color: #0052c2;
}
.definition-list__name {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #FFF;
}
.definition-list__name--contacts {
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 600;
}
.definition-list__name--blue {
  color: #0052c2;
}
.definition-list__desc {
  font-size: 16px;
  line-height: 26px;
}
.definition-list__link {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.definition-list__link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #FFF;
  transition: width 0.3s ease-in-out;
}
.definition-list__link:hover,
.definition-list__link:focus,
.definition-list__link:active {
  text-decoration: none;
  color: #FFF;
}
.definition-list__link:hover:after,
.definition-list__link:focus:after,
.definition-list__link:active:after {
  width: 100%;
}
.definition-list__link--blue {
  color: #0052c2;
  border-color: #0052c2;
}
.definition-list__link--blue:after {
  background-color: #0052c2;
}
.definition-list__link--blue:hover,
.definition-list__link--blue:focus,
.definition-list__link--blue:active {
  color: #0052c2;
}
.button-wrapper {
  margin-top: 50px;
  text-align: center;
}
.button-wrapper--jcsa {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 11px 26px 14px;
  border: 2px solid #fff;
  border-radius: 60px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #FFF;
  color: #0052c2;
  text-decoration: none;
}
.button--blue {
  color: #0052c2;
  border: 2px solid #0052c2;
}
.button--blue:hover,
.button--blue:focus,
.button--blue:active {
  background-color: #0052c2;
  color: #FFF;
}
.button--small {
  padding: 10px 18px 12px;
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .button--small {
    font-size: 16px;
    font-weight: 700;
    padding: 11px 26px 14px;
  }
}
.filter-block {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .filter-block {
    font-size: 16px;
  }
}
.filter-block__block-element {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.filter-block__element {
  margin: 0 0 9px;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .filter-block__element {
    margin: 0;
    margin-right: 0;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block__element {
    margin-right: 14px;
  }
  .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block__button {
  display: inline-block;
  cursor: pointer;
  color: #CECECE;
  padding: 10px 29px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.filter-block__button:hover {
  padding: 10px 29px;
  color: #000;
  border: 2px solid #0052c2;
}
.filter-block__button--active {
  padding: 10px 29px;
  color: #000;
  border: 2px solid #0052c2;
}
#portfolio-projects {
  text-align: center;
}
@media (min-width: 768px) {
  #portfolio-projects {
    text-align: left;
  }
}
#portfolio-projects .mix {
  display: none;
  text-align: left;
}
.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 360px;
}
.portfolio-item__image {
  position: relative;
  display: block;
  margin-bottom: 15px;
  background-image: url("../img/placeholders/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 190px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio-item__image {
    min-height: 150px;
  }
}
@media (min-width: 992px) {
  .portfolio-item__image {
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image {
    margin-bottom: 16px;
    height: 250px;
  }
}
.portfolio-item__image__hover {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  text-align: center;
  font-size: 26px;
  color: #FFF;
  background-color: rgba(0, 22, 48, 0.6);
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__image__hover .fa {
  font-size: 64px;
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__image__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover .fa {
    font-size: 64px;
    position: static;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio-item__image__hover span {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover span {
    display: inline-block;
  }
}
.portfolio-item__image:hover .portfolio-item__image__hover {
  display: block;
  top: 0;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .portfolio-item__title {
    font-size: 20px;
  }
}
.portfolio-item__title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
  color: #0052c2;
}
.portfolio-item__title .fa {
  color: #0052c2;
  text-shadow: 0px 0px 15px #48779f;
}
.portfolio-item__title a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.portfolio-item__title a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #0052c2;
  transition: width 0.3s ease-in-out;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:focus,
.portfolio-item__title a:active {
  text-decoration: none;
}
.portfolio-item__title a:hover:after,
.portfolio-item__title a:focus:after,
.portfolio-item__title a:active:after {
  width: 100%;
}
@media (min-width: 1200px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
    border-bottom: 1px dotted #0052c2;
  }
}
.portfolio-item__description {
  font-size: 14px;
  line-height: 1.42;
}
@media (min-width: 1200px) {
  .portfolio-item__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
.social-icons {
  font-size: 32px;
  padding-top: 19px;
}
.social-icons a {
  color: #FFF;
  text-decoration: none;
  border-bottom: none !important;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.social-icons a:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.social-icons .fa {
  margin-right: 30px;
  margin-bottom: 20px;
}
.social-icons .fa:last-child {
  margin-right: 0;
}
.contact-form__input {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 19px;
  outline: none;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 22, 48, 0.5);
  border: 3px solid #ffffff;
  -webkit-transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.contact-form__input:active,
.contact-form__input:focus,
.contact-form__input:hover {
  border: 3px solid #a2d1f4;
}
.contact-form__input--half-width-left {
  float: left;
  width: 49%;
}
.contact-form__input--half-width-right {
  float: right;
  width: 49%;
}
.contact-form__textarea {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 128px;
  margin-bottom: 5px;
  padding: 10px 19px;
  outline: none;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(0, 22, 48, 0.5);
  border: 3px solid #ffffff;
  -webkit-transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.contact-form__textarea:active,
.contact-form__textarea:focus,
.contact-form__textarea:hover {
  border: 3px solid #a2d1f4;
}
@media (min-width: 320px) {
  @-moz-document url-prefix() {
    .contact-form__textarea {
      margin-bottom: 10px;
    }
  }
}
.contact-form__bg-pencil {
  position: relative;
}
.contact-form__bg-pencil .shake {
  position: absolute;
  display: none;
  top: 75%;
  left: 61%;
  width: 203px;
  height: 153px;
}
@media (min-width: 1200px) {
  .contact-form__bg-pencil .shake {
    display: block;
  }
}
.contact-form__submit {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 8px 47px 12px;
  outline: none;
  color: #FFF;
  border: 4px solid #fff;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.contact-form__submit:hover,
.contact-form__submit:focus {
  background-color: #FFF;
  color: #065a97;
}
.contact-form__submit:active {
  border-color: #00d7ff;
  color: #00d7ff;
  background-color: transparent;
}
@media (min-width: 768px) {
  .contact-form__submit {
    width: auto;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-form__submit {
    font-size: 22px;
  }
}
label.error {
  background-color: #FF3B06;
  position: relative;
  display: block;
  border-radius: 8px;
  color: #FFF;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40px;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #ff3b06;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.contact-form__success {
  background-color: #FFF;
  position: relative;
  display: block;
  border-radius: 8px;
  color: #00B415;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 20px;
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  top: 23px;
  right: 16px;
  z-index: 5;
  width: 50px;
  height: 45px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  position: relative;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0052c2;
  background-image: url("../img/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  z-index: 1;
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #001630;
  opacity: 0.5;
  z-index: -1;
}
@media (min-width: 992px) {
  .header {
    background-attachment: fixed;
  }
}
.header__inner {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .header__inner {
    padding-bottom: 45px;
  }
}
#string > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0em;
  width: 130%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  -moz-transform: skewX(-50deg);
  -o-transform: skewX(-50deg);
  -webkit-transform: skewX(-50deg);
  transform: skewX(-50deg);
}
#string > span.blink_on:after {
  transition: 1.5s linear;
  background-position: 150% 0%;
}
.logo {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px 15px;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
.logo:after {
  content: "wolkArtweb";
  margin-right: 3px;
}
@media (min-width: 1200px) {
  .logo:after {
    margin-right: 6px;
  }
}
@media (min-width: 414px) {
  .logo {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 70px;
    margin-bottom: 50px;
    letter-spacing: -6px;
    padding: 10px 30px 20px;
    border-width: 3px;
  }
}
.header__title {
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 15px;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 40px #48779f;
}
.header__title--portfolio {
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 30px 15px;
  border: 3px solid #FFFFFF;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
@media (min-width: 414px) {
  .header__title {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 80px;
    margin-bottom: 30px;
  }
}
.header__subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 414px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.about {
  position: relative;
}
.about-text span {
  display: inline-block;
  font-weight: 400;
  border-bottom: 1px solid #0052c2;
}
.about-text__special {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  margin: 0 0 3px;
}
@media (min-width: 768px) {
  .about-text__special {
    margin: 0 0 9px;
  }
}
.skills {
  position: relative;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  background-color: #0052c2;
  background-image: url("../img/bg/bg-skills.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  z-index: 0;
}
.skills:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #001630;
  opacity: 0.6;
  z-index: -1;
}
.skills p {
  color: #FFF;
}
@media (min-width: 992px) {
  .skills {
    background-attachment: fixed;
  }
}
.contacts {
  color: #FFF;
}
.contacts p {
  color: #FFF;
}
.contacts__description {
  margin-bottom: 30px;
}
.footer {
  position: relative;
  background-color: #0052c2;
  background-image: url("../img/bg/bg-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}
.footer:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #001630;
  opacity: 0.6;
  z-index: -1;
}
@media (min-width: 992px) {
  .footer {
    background-attachment: fixed;
  }
}
.copyright {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 40px;
  padding-bottom: 40px;
}
.copyright p {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 10px;
}
.copyright p.copyright__label {
  font-size: 16px;
  color: #fff;
}
.copyright p:last-child {
  margin-bottom: 0;
}
.copyright a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dotted #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.copyright a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #FFF;
  transition: width 0.3s ease-in-out;
}
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  text-decoration: none;
  color: #FFF;
}
.copyright a:hover:after,
.copyright a:focus:after,
.copyright a:active:after {
  width: 100%;
}
.project-description {
  padding-top: 15px;
  position: relative;
}
.project-description:before {
  content: "";
  display: none;
  background-color: #C7C7C7;
  position: absolute;
  top: 0;
  left: 50%;
  height: 1px;
  width: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .project-description:before {
    display: block;
  }
}
@media (min-width: 768px) {
  .project-description {
    padding-top: 30px;
  }
}
.project-mockup {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .project-mockup {
    padding-bottom: 30px;
  }
}
.project-description__icon {
  margin-top: 16px;
  text-align: center;
}
.project-description__icon .fa {
  color: #0052c2;
  text-shadow: 0px 0px 15px #48779f;
}
@media (min-width: 768px) {
  .project-description__icon .fa {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .project-description__icon .fa {
    font-size: 50px;
  }
}
/*# sourceMappingURL=main.css.map */