.button-wrapper {
	margin-top: 50px;
	text-align: center;
}

.button {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	
	padding: 11px 26px 14px;
	border: 2px solid #fff;
	border-radius: 60px;
	-webkit-transition: 0.3s ease-in;
	   -moz-transition: 0.3s ease-in;
	    -ms-transition: 0.3s ease-in;
	     -o-transition: 0.3s ease-in;
	        transition: 0.3s ease-in;

	&:hover, &:focus, &:active {
		background-color: #FFF;
		color: @blueHeading;
		text-decoration: none;
	}
}
