.button-wrapper {
	margin-top: 50px;
	text-align: center;
	
	&--jcsa {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
	}
}

.button {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	
	padding: 11px 26px 14px;
	border: 2px solid #fff;
	border-radius: 60px;
	-webkit-transition: 0.3s ease-in;
	   -moz-transition: 0.3s ease-in;
	    -ms-transition: 0.3s ease-in;
	     -o-transition: 0.3s ease-in;
	        transition: 0.3s ease-in;

	&:hover, &:focus, &:active {
		background-color: #FFF;
		color: @blueHeading;
		text-decoration: none;
	}

	&--blue {
		color: @blueHeading;
		border: 2px solid @blueHeading;
		
		&:hover, &:focus, &:active {
			background-color: @blueHeading;
			color: #FFF;
		}
	}

	&--small {
		padding: 10px 18px 12px;
		font-size: 12px;
		font-weight: 600;
		
		@media (min-width: 768px) {
			font-size: 16px;
			font-weight: 700;
			padding: 11px 26px 14px;
		}
	}
}
