.definition-list {
	margin: 0 0 43px;
	padding: 0;
	list-style-type: none;
	
	@media (min-width: 1200px) {
		padding-right: 20px;
	}
}

.definition-list--social-icons {
	margin-bottom: 0;
}

.definition-list__item {
	margin: 0 0 13px;
	padding: 0;
	
	span {
		color: @blueHeading;
	}
}

.definition-list__name {
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: #FFF;
	
	&--contacts {
		line-height: 28px;
		text-transform: uppercase;
		font-weight: 600;
	}

	&--blue {
		color: @blueHeading;
	}
}

.definition-list__desc {
	font-size: 16px;
	line-height: 26px;
}

.definition-list__link {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	    -ms-transition: all 0.3s ease-in;
	     -o-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	
	&:after {
	    display: block;
	    content: "";
	    height: 2px;
	    width: 0%;
	    background-color: #FFF;
	    transition: width .3s ease-in-out;
	}
	
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: #FFF;
		
		&:after {
			width: 100%;
		}
	}

	&--blue {
		color: @blueHeading;
		border-color: @blueHeading;
		
		&:after {
		    background-color: @blueHeading;
		}
		
		&:hover, &:focus, &:active {
			color: @blueHeading;
		}
	}
}
