.heading {
	color: @blueHeading;
	font-weight: 700;
	font-size: 25px;
	margin: 0 0 9px;
	text-transform: uppercase;
	
	@media (min-width: 768px) {
		font-size: 30px;
		margin: 0 0 19px;
	}
}

// .heading-bg-about {
// 	position: relative;
	
// 	&:after {
// 		content: "about me";
// 		position: absolute;
// 		top: 0;
// 		left: 30px;
// 		font-size: 100px;
// 		color: #ACACAC;
// 		opacity: 0.1;
// 		font-weight: 700;
// 		line-height: 1;
// 		text-transform: none;
// 		-webkit-transform: translateY(-20%);
// 		-moz-transform: translateY(-20%);
// 		-ms-transform: translateY(-20%);
// 		-o-transform: translateY(-20%);
// 		transform: translateY(-20%);
		
// 		@media (min-width: 768px) {
// 			-webkit-transform: translateY(-50%);
// 			-moz-transform: translateY(-50%);
// 			-ms-transform: translateY(-50%);
// 			-o-transform: translateY(-50%);
// 			transform: translateY(-50%);
// 		}

// 		@media (min-width: 1200px) {
// 			font-size: 150px;
// 		}
// 	}
// }

.heading--medium {
	color: #000;
	font-size: 20px;
	line-height: 28px;
	margin: 16px 0 15px;
	font-weight: 600;
	
	&--white {
		display: inline-block;
		color: #FFF;
		font-weight: 700;
		border-bottom: 2px solid #fff;
	}
}

.heading--center {
	text-align: center;
}

.heading--white {
	color: #FFF;
}

.heading--contact-form {
	margin-top: 11px;
}